.special-preserve {
    background-color: #593421 !important;
    color: white !important;
    font-weight: bold;
}

.special-money {
    background-color: #edce00 !important;
    color: black !important;
    font-weight: bold;
}

.special-vinyl {
    background-color: #a1a1a1 !important;
    color: black !important;
    font-weight: bold;
}

.special-light {
    background-color: #f2e394 !important;
    color: black !important;
    font-weight: bold;
}

.special-wrap {
    background-color: #bf3651 !important;
    color: white !important;
    font-weight: bold;
}

.special-storage {
    background-color: white !important;
    color: red !important;
    font-weight: bold;
}


