.special-preserve {
    background-color: #593421 !important;
    color: white !important;
    font-weight: bold;
}

.special-money {
    background-color: #edce00 !important;
    color: black !important;
    font-weight: bold;
}

.special-vinyl {
    background-color: #a1a1a1 !important;
    color: black !important;
    font-weight: bold;
}

.special-light {
    background-color: #f2e394 !important;
    color: black !important;
    font-weight: bold;
}

.special-unique {
    border-color: #0dad0a !important;
    color: #0dad0a !important;
    font-weight: bold;
}

.special-flag {
    background-color: #c75f5f !important;
    color: #073de0 !important;
    font-weight: bold;
}

.special-ad {
    background-color: #9b60bf !important;
    color: black !important;
    font-weight: bold;
}

.special-wrap {
    background-color: #bf3651 !important;
    color: white !important;
    font-weight: bold;
}

.special-storage {
    border-color: red !important;
    color: red !important;
    font-weight: bold;
}

.special-mistake {
    border-color: orange !important;
    color: orange !important;
    font-weight: bold;
}

.special-ice {
    border-color: #07a2ba !important;
    color: #07a2ba !important;
    font-weight: bold;
}

.id-ice {
    border-color: #07a2ba !important;
    color: #07a2ba !important;
    font-weight: bold;
}
