.special-preserve {
    background-color: #421c03 !important;
    color: white !important;
    font-weight: bold;
}

.special-money {
    background-color: #edce00 !important;
    color: black !important;
    font-weight: bold;
}

.special-vinyl {
    background-color: #707070 !important;
    color: black !important;
    font-weight: bold;
}

.special-light {
    background-color: #f2e394 !important;
    color: black !important;
    font-weight: bold;
}

/* Add new types simply by adding new classes */
