.special-preserve {
    background-color: #593421 !important;
    color: white !important;
    font-weight: bold;
}

.special-money {
    background-color: #edce00 !important;
    color: black !important;
    font-weight: bold;
}

.special-vinyl {
    background-color: #a1a1a1 !important;
    color: black !important;
    font-weight: bold;
}

.special-light {
    background-color: #f2e394 !important;
    color: black !important;
    font-weight: bold;
}

.special-unique {
    outline-color: #215725 !important;
    color: #215725 !important;
    font-weight: bold;
}

.special-flag {
    background-color: #7da9e3 !important;
    color: black !important;
    font-weight: bold;
}

.special-wrap {
    background-color: #bf3651 !important;
    color: white !important;
    font-weight: bold;
}

.special-storage {
    outline-color: #a10505 !important;
    color: #a10505 !important;
    font-weight: bold;
}


